.sidebar{
    height: 100vh;
    width:10%;
    background-color: #212529;
    color: white;
}
ul{
    list-style: none;
    line-height:600%;
}
.panel{
    display: flex;
    flex-direction: row;
}
.b{
    width:100%
}
.c{
    padding-left: 10%;
    padding-top:10%;
}